/*---------------- import google fonts ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



/*---------------- styles ---------------- */
body {
    font-family: 'Poppins', sans-serif;
}


.th-overlay img {
    filter: brightness(45%);
}




/*---------------- media query ---------------- */
@media only screen and (min-width:280px) and (max-width:576px) {

    .fs-h1 {
        font-size: 22px;
    }

    .fs-p {
        font-size: 14px;
    }

    .h-carousel-img {
        height: 270px;
    }

    .carousel-caption {
        width: 100% !important;
        margin-left: -15%;
    }

    .p-custom {
        width: 85% !important;
        margin-top: -10px;
        font-size: 16px;
    }

    .h-img {
        height: 300px !important;
    }

}




/*---------------- media query ---------------- */
@media only screen and (min-width:577px) and (max-width:991px) {
    .p-custom {
        width: 85% !important;
        margin-top: -10px;
        font-size: 16px;
    }

    .fs-h1 {
        font-size: 29px;
    }

    .carousel-caption {
        width: 100% !important;
        margin-left: -15%;
    }

    .h-carousel-img {
        height: 350px;
    }
}