/*---------------- import google fonts ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/*---------------- styles ---------------- */
body {
    font-family: 'Poppins', sans-serif;
}

.slider-overlay img {
    filter: brightness(35%);
    opacity: 93%;
}

.courses {
    margin: -13px;
    row-gap: 25px;
}

.fs-slider-h1 {
    font-size: 50px;
}



/*---------------- media query ---------------- */
@media only screen and (min-width:280px) and (max-width:576px) {

    .fs-h1 {
        font-size: 22px;
    }

    .fs-p {
        font-size: 14px;
    }

    .h-carousel-img {
        height: 270px;
    }

    .carousel-caption {
        width: 100% !important;
        margin-left: -15%;
    }

    .p-custom {
        width: 85% !important;
        margin-top: -10px;
        font-size: 16px;
    }

    .h-img {
        height: 300px !important;
    }

    .fs-custom-h1 {
        font-size: 30px;
    }
}


/*---------------- media query ---------------- */
@media only screen and (min-width:577px) and (max-width:991px) {

    .fs-slider-h1 {
        font-size: 35px;
    }

    .fs-custom-h1 {
        font-size: 30px;
    }

    .w-discover,
    .w-faq {
        width: 85% !important;
    }

    .carousel-caption {
        width: 100% !important;
        margin-left: -15%;
    }

    .carousel-img {
        height: 380px;
    }

    .w-accordian {
        width: 100% !important;
    }

    .lh-custom {
        line-height: 27px;
    }
}